[submodule "roact"]
	path = roact
	url = https://github.com/Roblox/roact.git
[submodule "rodux"]
	path = rodux
	url = https://github.com/Roblox/rodux.git
[submodule "roact-rodux"]
	path = roact-rodux
	url = https://github.com/Roblox/roact-rodux.git
